<div class="container text-center">
<h2>THINK_TANK!</h2>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<form action ="{% url 'password' %}">
    <select name="length"> 
        <option value="6">6 </option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12" selected="selected">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option> 
        <option value="17">17</option>
    </select>length
        <br>
        <input type="checkbox" name="uppper">upppercase

        <br>
        <input type="checkbox" name="special">special characters

        <br>
        <input type="checkbox" name="numbers">numbers

        <br>
        <input type="submit" value="Generate Password" class="btn btn-primary">
       
        <br>


</form>


</br>
<a href="{% url 'about' %}">about</a>
</div>

